<mat-dialog-content class="row justify-content-center">
        <form
          [formGroup]="categoryRegistrationForm"
          (ngSubmit)="onSubmit()"
          class="mat-typography"
          >

            <mat-form-field
              color="access"
              class="black"
              style="padding: 10px">
                <input
                  matInput
                  type="text" color="primary"
                  formControlName="name"
                  placeholder="Category Name"
                  />
                <mat-error>

                </mat-error>
            </mat-form-field>

            <br/>

            <mat-radio-group
              formControlName="level"
              aria-label="Select an option" color="primary"
              style="width: 100%; padding-right: 5px">
              <mat-radio-button
                *ngFor="let level of categoryTypes; let i = index"
                [value]="level"
                style="padding: 10px">
                  {{ level }}
              </mat-radio-button>
            </mat-radio-group>

          <div
           *ngIf="categoryRegistrationForm.value['level'] === 'Sub-category'">
            <h4>Categoria Padre</h4>
            <mat-form-field
              class="row"
              style="padding-right: 5px"
              >
              <mat-label> -- Seleccione una categoría -- </mat-label>
              <mat-select
                formControlName="parent"
                id="categories">
                <mat-option [value]="null">None</mat-option>
                <mat-option
                  *ngFor="let item of categoriesArray; let i = index"
                  [value]="item._id"
                  required>
                  {{i+1}} - {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button
            mat-raised-button
            color="primary"
            class="btn btn-primary"
            type="submit">
              Submit
          </button>
        </form>

</mat-dialog-content>
