<!-- <mat-toolbar color="primary">
    <span><a routerLink="/inicio" routerLinkActive="active" style="text-decoration: none">FEDSYS</a></span>
    <a routerLink="/tabla" routerLinkActive="active"><button mat-button >Ir a Tabla</button></a>
    <a style="margin-left: auto" routerLink="/pre_registro" routerLinkActive="active"><button mat-button >Pre-Registro</button></a>
    <a routerLink="/nuevo_torneo" routerLinkActive="active"><button mat-button >Registro</button></a>
    <a routerLink="/empezar_torneo" routerLinkActive="active"><button mat-button >Empezar Torneo</button></a>
</mat-toolbar> -->