<mat-dialog-content class="row justify-content-center">
        <form
          [formGroup]="categoryRegistrationForm"
          (ngSubmit)="onSubmit()"
          class="mat-typography"
          >

            <mat-form-field
              color="access"
              class="black"
              style="padding: 10px">
              <input
                matInput
                type="text"
                formControlName="categoryNumber"
                placeholder="Category Number"
                style="padding-right: 5px"/>
              <mat-error>

              </mat-error>
            </mat-form-field>

            <mat-form-field
              color="access"
              class="black"
              style="padding: 10px">
                <input
                  matInput
                  type="text" color="primary"
                  formControlName="categoryName"
                  placeholder="Category Name"
                  />
                <mat-error>

                </mat-error>
            </mat-form-field>

            <mat-radio-group
              formControlName="categoryLevel"
              aria-label="Select an option" color="primary"
              style="width: 100%; padding-right: 5px">
              <mat-radio-button
                *ngFor="let categoryLevel of categoryTypes"
                [value]="categoryLevel"
                style="padding: 10px">
                  {{ categoryLevel }}
              </mat-radio-button>
            </mat-radio-group>
            <!-- <div class="form-group">
                <label for="categoryParent">Category Parent</label>
                <input
                  type="text"
                  id="categoryParent"
                  formControlName="categoryParent"
                  class="form-control">
                <span
                  *ngIf="!categoryRegistrationForm.get('categoryParent').valid && categoryRegistrationForm.get('categoryParent').touched"
                  class="help-block">Please enter a valid category Parent!</span>
            </div> -->
          <button
            mat-raised-button
            color="primary"
            class="btn btn-primary"
            type="submit">
              Submit
          </button>
        </form>

</mat-dialog-content>
