<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>

<button mat-raised-button (click)="addCategory('create')">
  Agregar Categoria
</button>

<br/>
<hr/>
<br/>
<div class="col-xs-12"
    *ngFor="let category of categoriesArray[0]; let i = index"
    index="i">
    <h4
      class="list-group-item-heading"
      *ngIf="category">
      {{ i + 1 }} - {{ category['name'] }}
      <span
        (click)="deleteItem(i,'category')"
        style="cursor: pointer">
        <mat-icon>
          cancel
        </mat-icon>
      </span>
    </h4>
</div>

<br>
<button mat-raised-button (click)="addTourneyType()">
  Agregar tipo de torneo
</button>

<br/>
<hr/>
<br/>
<div class="col-xs-12"
    *ngFor="let type of tourneyType[0]; let i = index"
    index="i">
    <h4
      class="list-group-item-heading">
      {{ type.number }} {{ type.name }}
      <span
        (click)="deleteItem(i,'tourney')"
        style="cursor: pointer">
        <mat-icon>
          cancel
        </mat-icon>
      </span>
    </h4>

    <div class="col-xs-12"
    *ngFor="let subcategory of type.subcategories; let i = index"
    index="i">
      <p class="list-group-item-text"> - {{ subcategory.name }} </p>

</div>
