<button mat-raised-button (click)="addCategory()">
  Agregar Categoria
</button>

<br/>
<hr/>
<br/>
<div class="col-xs-12"
    *ngFor="let category of categoriesArray[0]; let i = index"
    index="i">
    <h4
      class="list-group-item-heading"
      *ngIf="category">
      {{ i + 1 }} - {{ category['name'] }}
      <span
        (click)="deleteItem(i,'category')"
        style="cursor: pointer">
        <mat-icon>
          cancel
        </mat-icon>
      </span>
    </h4>
</div>

<br>
<button mat-raised-button (click)="addTourneyType()">
  Agregar tipo de torneo
</button>

<br/>
<hr/>
<br/>
<div class="col-xs-12"
    *ngFor="let type of tourneyType[0]; let i = index"
    index="i">
    <h4
      class="list-group-item-heading">
      {{ type.number }} {{ type.name }}
      <span
        (click)="deleteItem(i,'tourney')"
        style="cursor: pointer">
        <mat-icon>
          cancel
        </mat-icon>
      </span>
    </h4>

    <div class="col-xs-12"
    *ngFor="let subcategory of type.subcategories; let i = index"
    index="i">
      <p class="list-group-item-text"> - {{ subcategory.name }} </p>

</div>
