<br>
<div class="col-xs-12"
*ngFor="let subcategory of subcategories; let i = index"
index="i">
<h4
  class="list-group-item-heading">
  {{ subcategory.name }}
  <span
    (click)="deleteItem(i,'subcategory')"
    style="cursor: pointer">
    <mat-icon>
      cancel
    </mat-icon>
  </span>
  <span
  (click)="editItem(i, 'subcategory', subcategory)"
  style="cursor: pointer">
  <mat-icon>
    mode_edit
  </mat-icon>
</span>
</h4>
<!-- <p class="list-group-item-text">{{ subcategory.personalId }}</p> -->
</div>
<br>
<div class="row">
  <button mat-raised-button color="primary" (click)="addCategory('add')">
    Agregar Categoria
  </button>
  <button mat-raised-button (click)="addCategory('create')">
    Crear Categoria
  </button>
</div>
<br/>
<hr/>
<br/>
<div class="col-xs-12"
    *ngFor="let competitor of competitors; let i = index"
    index="i">
    <h4
      class="list-group-item-heading">
      {{ competitor.firstName }} {{ competitor.lastName }}
      <span
        (click)="deleteItem(i,'competitor')"
        style="cursor: pointer">
        <mat-icon>
          cancel
        </mat-icon>
      </span>
      <span
      (click)="editItem(i, 'competitor', competitor)"
      style="cursor: pointer">
      <mat-icon>
        mode_edit
      </mat-icon>
    </span>
    </h4>
    <p class="list-group-item-text">{{ competitor.personalId }}</p>
</div>

<button mat-raised-button (click)="addCompetitor()">
  Agregar Competidor
</button>

<br/>
<hr/>
<br/>
<div class="col-xs-12"
    *ngFor="let judge of judges[0]; let i = index"
    index="i">
    <h4
      class="list-group-item-heading">
      {{ judge.firstName }} {{ judge.lastName }}
      <span
        (click)="deleteItem(i,'judge')"
        style="cursor: pointer">
        <mat-icon>
          cancel
        </mat-icon>
      </span>
      <span
      (click)="editItem(i, 'judge', judge)"
      style="cursor: pointer">
      <mat-icon>
        mode_edit
      </mat-icon>
    </span>
    </h4>
    <p class="list-group-item-text">{{ judge.personalId }}</p>
</div>
<button mat-raised-button (click)="addJudge()">
  Agregar Juez
</button>
<br>


