<div class="col-xs-12 container">
  <div class="row">
    <form
      [formGroup]="tourneyRegistrationForm"
      class="w-50 center mat-typography"
      style="width: 100%">

      <mat-form-field
        class="row"
        style="padding-right: 5px">
        <mat-label> -- Elija un tipo de torneo -- </mat-label>
        <mat-select
          formControlName="existent"
          id="type"
          >
          <mat-option [value]="null">None</mat-option>
          <mat-option
            *ngFor="let item of tourneys[0]; let i = index"
            [value]="item"
            required>
            Torneo - {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        color="access"
        class="black"
        style="padding: 10px">
          <input
            matInput
            type="text" color="primary"
            formControlName="name"
            placeholder="Nombre del torneo"
            />
          <mat-error>
          </mat-error>
      </mat-form-field>
    </form>

    <button

      mat-raised-button
      color="primary"
      (click)="createTourney('load')"
      [disabled]="!tourneyFlag2"
      >
      Cargar
    </button>

    <button
      mat-raised-button
      *ngIf="!editTourney"
      color="primary"
      (click)="createTourney('create')"
      [disabled]="!tourneyFlag1">
      Crear
    </button>
  </div>

    <br>

      <!-- <span
        (click)="deleteItem(i,'subcategory')"
        style="cursor: pointer">
        <mat-icon>
          cancel
        </mat-icon>
      </span> -->
  <div *ngIf="editTourney">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [style.display]="(node.level===1) ? 'block': 'none'">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>
    <br>
    <div class="row">
      <button mat-raised-button color="primary" (click)="addCategory('add')">
        Agregar Categoria
      </button>
      <button mat-raised-button (click)="addCategory('create')">
        Crear Categoria
      </button>
      <!-- <button mat-raised-button (click)="saveTourney('subcategories','subcategories')">
        Guardar Categorias
      </button> -->
    </div>
    <br/>
    <hr/>
    <br/>
    <div class="col-xs-12"
        *ngFor="let competitor of competitors; let i = index"
        index="i">
        <h4
          class="list-group-item-heading">
          {{ competitor.firstName }} {{ competitor.lastName }} {{competitor.personalID}} {{competitor.age}} {{competitor.city}}
          <span
            (click)="deleteItem(i,'competitor')"
            style="cursor: pointer">
            <mat-icon>
              cancel
            </mat-icon>
          </span>
          <span
          (click)="editItem(i, 'competitor', competitor)"
          style="cursor: pointer">
          <mat-icon>
            mode_edit
          </mat-icon>
        </span>
        </h4>
        <!-- <p
          class="list-group-item-text"
          *ngFor="let subcategory of competitor['category']">
            {{subcategory['parent']['name']}} / {{subcategory['name']}} <br>
        </p> -->
        <p
        class="list-group-item-text">
          {{competitor['subcategory']['parent']['name']}} / {{competitor['subcategory']['name']}}
      </p>
    </div>

    <div class="row">
      <button mat-raised-button (click)="addCompetitor()">
        Agregar Competidor
      </button>
      <!-- <button mat-raised-button (click)="saveTourney('subcategories','competitors')">
        Guardar Competidores
      </button> -->
    </div>

    <br/>
    <hr/>
    <br/>
    <div class="col-xs-12"
        *ngFor="let judge of judges; let i = index"
        index="i">
        <h4
          class="list-group-item-heading">
          {{ judge.firstName }} {{ judge.lastName }}
          <span
            (click)="deleteItem(i,'judge')"
            style="cursor: pointer">
            <mat-icon>
              cancel
            </mat-icon>
          </span>
          <span
          (click)="editItem(i, 'judge', judge)"
          style="cursor: pointer">
          <mat-icon>
            mode_edit
          </mat-icon>
        </span>
        </h4>
    </div>
    <div class="row">
      <button mat-raised-button (click)="addJudge()">
        Agregar Juez
      </button>
      <!-- <button mat-raised-button (click)="saveTourney('subcategories','judges')">
        Guardar Jueces
      </button> -->
    </div>
    <br>
    <hr>
    <br>
    <div class="row mt-5">
      <button mat-raised-button color="primary" (click)="selectStaringOrder()">
        Configurar orden de salida
      </button>
    </div>

  </div>
</div>

