<div *ngIf="tabla === 'escogerRondas'">
    <h2>Escoger rondas</h2>
    <mat-checkbox [(ngModel)]="rondas.eliminatoria">Ronda eliminatoria</mat-checkbox><br>
    <mat-checkbox [(ngModel)]="rondas.salida1">Ronda 1 salida</mat-checkbox><br>
    <mat-checkbox [(ngModel)]="rondas.final">Ronda final (2 salidas)</mat-checkbox><br>
    <button mat-raised-button color="primary" (click)="confirmarRondas()">Confirmar Rondas</button>
</div>

<div *ngIf="tabla === 'final'">
    <h2>Escoger Porcentajes</h2>
    <input type="number" [(ngModel)]="porcentaje1">
    <input type="number" disabled [(ngModel)]="100 - porcentaje1">
</div>
<div *ngIf="tabla !== 'final' && tabla !== 'escogerRondas'">
    <h2>Numero de competidores que casifican</h2>
    <input type="number" [(ngModel)]="clasificados">
</div>

<!-- ELIMINATORIA -->
<div *ngIf="tabla === 'eliminatoria'">
    <h2>Tabla Eliminatoria</h2>
    <table class="mat-elevation-z8">
        <thead>
            <tr>
                <th colspan="3">Competidores</th>
                <th [attr.colspan]="jueces.length">Poses Libres</th>
                <th colspan="2">Resultados</th>
            </tr>
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th *ngFor="let juez of jueces">Juez {{juez.numero}}</th>
                <th>Cuenta Final</th>
                <th>Lugar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let competidor of competidores; let i=index" [style.background-color]="(clasificados >= competidor.lugar && competidor.lugar > 0) ? 'green' : 'white'">
                <td>{{ competidor.athlete }}</td>
                <td>{{ competidor.firstName + ' ' + competidor.lastName }}</td>
                <td>{{ competidor.city }}</td>
                <td *ngFor="let juez of jueces;  let a=index" [style.background-color]="competidor.resultados[a].juez.libre ? 'white' : 'grey'">
                    <input type="checkbox" style="max-width: 100px;;width: 80%; margin: 0 10%" [(ngModel)]="competidor.resultados[a].libre">
                </td>
                <td [style.background-color]="competidor.empate ? 'red' : 'white'">{{competidor.total}}</td>
                <td [style.background-color]="competidor.empate ? 'red' : 'white'">{{competidor.lugar}}</td>
            </tr>
        </tbody>
    </table>
    <button mat-raised-button color="primary" (click)="calcResultadosEliminatoria()">Calcular Resultados</button>
    <button *ngIf="isCalc" mat-raised-button color="accent" (click)="siguienteEtapa()">Continuar</button>
</div>

<!-- 1 SALIDA -->
<div *ngIf="tabla === 'salida1'">
    <h2>Tabla 1 Salida</h2>
    <table class="mat-elevation-z8">
        <thead>
            <tr>
                <th colspan="3">Competidores</th>
                <th [attr.colspan]="nj">Poses Libres</th>
                <th colspan="2">Resultados</th>
            </tr>
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th *ngFor="let juez of jueces">Juez {{juez.numero}}</th>
                <th>Subcuenta</th>
                <th>Cuenta Final</th>
                <th>Lugar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let competidor of competidores; let i=index" [style.background-color]="(clasificados >= competidor.lugar && competidor.lugar > 0) ? 'green' : 'white'">
                <td>{{ competidor.athlete }}</td>
                <td>{{ competidor.firstName + ' ' + competidor.lastName }}</td>
                <td>{{ competidor.city }}</td>
                <td *ngFor="let juez of jueces;  let a=index" [style.background-color]="competidor.resultados[a].juez.libre ? 'white' : 'grey'">
                    <input style="max-width: 100px;;width: 80%; margin: 0 10%" [(ngModel)]="competidor.resultados[a].libre">
                </td>
                <td>{{competidor.subtotal1}}</td>
                <td [style.background-color]="competidor.empate ? 'red' : 'white'">{{(competidor.subtotal1 * porcentaje1 / 100) | number : '1.2-2'}}</td>
                <td [style.background-color]="competidor.empate ? 'red' : 'white'">{{competidor.lugar}}</td>
            </tr>
        </tbody>
    </table>
    <button mat-raised-button color="primary" (click)="calcResultadosSalida1()">Calcular Resultados</button>
    <button *ngIf="isCalc" mat-raised-button color="accent" (click)="siguienteEtapa()">Continuar</button>
</div>

<!-- FINAL -->
<div *ngIf="tabla === 'final'">
    <h2>Tabla Final</h2>
    <table class="mat-elevation-z8">
        <thead>
            <tr>
                <th colspan="3">Competidores</th>
                <th [attr.colspan]="nj">Poses Libres</th>
                <th [attr.colspan]="nj">Comparaciones</th>
                <th colspan="2">Resultados</th>
            </tr>
            <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th *ngFor="let juez of jueces">Juez {{juez.numero}}</th>
                <th>Subcuenta</th>
                <th>Subcuenta {{porcentaje1}}%</th>
                <th *ngFor="let juez of jueces">Juez {{juez.numero}}</th>
                <th>Subcuenta</th>
                <th>Subcuenta {{100 - porcentaje1}}%</th>
                <th>Cuenta Final</th>
                <th>Lugar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let competidor of competidores; let i=index">
                <td>{{ competidor.athlete }}</td>
                <td>{{ competidor.firstName + ' ' + competidor.lastName }}</td>
                <td>{{ competidor.city }}</td>
                <td *ngFor="let juez of jueces;  let a=index" [style.background-color]="competidor.resultados[a].juez.libre ? 'white' : 'grey'">
                    <input style="width: 80%; margin: 0 10%" [(ngModel)]="competidor.resultados[a].libre">
                </td>
                <td>{{competidor.subtotal1}}</td>
                <td>{{competidor.subtotal1 * porcentaje1 / 100 | number : '1.2-2'}}</td>
                <td *ngFor="let juez of jueces;  let a=index" [style.background-color]="competidor.resultados[a].juez.comparacion ? 'white' : 'grey'">
                    <input style="width: 80%; margin: 0 10%" [(ngModel)]="competidor.resultados[a].comparacion">
                </td>
                <td>{{competidor.subtotal2}}</td>
                <td>{{competidor.subtotal2 * (100 - porcentaje1) / 100 | number : '1.2-2'}}</td>
                <td [style.background-color]="competidor.empate ? 'red' : 'white'">{{(competidor.subtotal1 * porcentaje1 / 100) + (competidor.subtotal2 * (100 - porcentaje1) / 100) | number : '1.2-2'}}</td>
                <td [style.background-color]="competidor.empate ? 'red' : 'white'">{{competidor.lugar}}</td>
            </tr>
        </tbody>
    </table>
    <button mat-raised-button color="primary" (click)="calcResultadosFinal()">Calcular Resultados</button>
</div>

<div>
  <textarea type="text" name="" id="" cols="30" rows="10" [(ngModel)]="textarea"></textarea>
  <button mat-raised-botton color="primary" (click)="splitTable()">Separar</button>
</div>
