<mat-dialog-content>
    <form
      [formGroup]="competitorRegistrationForm"
      (ngSubmit)="onSubmit()"
      class="w-50 center mat-typography"
      style="width: 100%">

      <p>
        Ingrese los datos del competidor
      </p>

        <mat-form-field
          class="w-50 black form-group"
          style="padding-right: 5px">
          <input
            matInput
            type="text"
            formControlName="firstName"
            placeholder="Nombre"/>
          <mat-error
            *ngIf="!competitorRegistrationForm.get('firstName').valid && competitorRegistrationForm.get('firstName').touched"
            class="help-block">
          </mat-error>
        </mat-form-field>

        <mat-form-field
          class="w-50 black form-group"
          style="padding-right: 5px">
          <input
            matInput
            type="text"
            formControlName="lastName"
            placeholder="Apellido"/>
            <span
              *ngIf="!competitorRegistrationForm.get('lastName').valid && competitorRegistrationForm.get('lastName').touched"
              class="help-block">
            </span>
        </mat-form-field>

        <mat-form-field
          class="w-50 white"
          style="padding-right: 5px">
          <input
            matInput
            type="text"
            formControlName="athlete"
            placeholder="Athlete No/Atleta Nro"/>
        </mat-form-field>

        <mat-form-field
          class="w-50 white form-group"
          style="padding-right: 5px">
          <input
            matInput
            type="text"
            formControlName="personalId"
            placeholder="ID/Numero de identidad"/>
          </mat-form-field>

        <mat-form-field
          class="w-50 white"
          style="padding-right: 5px">
          <input
            matInput
            type="text"
            formControlName="age"
            placeholder="Age/Edad"/>

        </mat-form-field>

        <br/>

        <mat-radio-group
          formControlName="gender"
          aria-label="Select an option"
          style="padding-right: 5px">

            <mat-label>Gender/Género</mat-label>
            <br/>
            <mat-radio-button
              *ngFor="let gender of genders"
              style="padding-right: 5px"
              [value]="gender">
                {{ gender }}
            </mat-radio-button>
        </mat-radio-group>


        <mat-form-field
          class="w-50 white"
          style="padding-right: 5px; margin-left: 15%">
          <input
            matInput
            type="text"
            formControlName="city"
            placeholder="City/Ciudad"/>
        </mat-form-field>

        <div formArrayName="categories">
          <h4>Categories/Categorias</h4>
            <mat-form-field
              class="row"
              style="padding-right: 5px"
              *ngFor="let categoriesControl of competitorRegistrationForm.get('categories')['controls']; let i = index">
              <mat-label> -- Select a category/Elija una categoría -- </mat-label>
              <mat-select
                class="col-10"
                id="categories"
                color="warn"
                [formControlName]="i"

                required>
                <mat-option
                  *ngFor="let item of categoriesArray"
                  [value]="item"
                  required>
                  {{item.number}} - {{item.name}}
                </mat-option>
              </mat-select>
              <button
                class="col-2"
                mat-raised-button
                type="button"
                (click)="onDeleteCategory(i)">X
              </button>
          </mat-form-field>
        </div>

        <br/>

        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="onAddCategory()">+
        </button>

        <br/>

        <mat-form-field
          class="form-group"
          style="padding-right: 5px">
          <input
            matInput
            type="text"
            formControlName="email"
            placeholder="Email"/>
          <span
            *ngIf="!competitorRegistrationForm.get('email').valid && competitorRegistrationForm.get('email').touched"
            class="help-block">
          </span>
        </mat-form-field >

        <mat-form-field class="w-50 white">
          <input
            matInput
            type="text"
            formControlName="phone"
            placeholder="Phone/Teléfono"/>
        </mat-form-field>

        <br/>
      <button mat-raised-button color="primary" type="submit">Done/Listo</button>
    </form>

</mat-dialog-content>
